name: "Sync labels"

on:
  workflow_call:
    secrets:
      workflow_github_token:
        required: true
        description: "GitHub token for workflow"

# zizmor: ignore[concurrency-limits] only GitHub can trigger this workflow

permissions: {}

jobs:
  configure-labels:
    name: Configure Labels
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # For writing labels to the repository
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Sync labels
        uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c # v1.3.0
        with:
          token: ${{ secrets.workflow_github_token }}
          repository: ${{ github.repository }}
          manifest: .github/tool-configurations/labels.yml
