name: "Common Clean Caches"

on:
  workflow_call:
    secrets:
      workflow_github_token:
        required: true
        description: "GitHub token for workflow"

permissions: {}

jobs:
  clean-caches:
    name: Clean GitHub Action Caches
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Delete caches
        shell: bash
        run: |
          if [[ "${GITHUB_REPOSITORY}" =~ ^[a-zA-Z0-9_.-]+/[a-zA-Z0-9_.-]+$ ]]; then
            gh cache delete --all --repo "${GITHUB_REPOSITORY}"
          else
            echo "Invalid repository name: ${GITHUB_REPOSITORY}"
            exit 1
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.workflow_github_token }}
          GITHUB_REPOSITORY: ${{ github.repository }}
