name: "Run Reusable Workflows"

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  codeql-checks:
    name: CodeQL Analysis
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
    strategy:
      matrix:
        language: [actions]
    uses: JackPlowman/reusable-workflows/.github/workflows/codeql-analysis.yml@main
    with:
      language: ${{ matrix.language }}

  common-clean-caches:
    name: Common Clean Caches
    permissions:
      contents: read
    uses: JackPlowman/reusable-workflows/.github/workflows/common-clean-caches.yml@main
    secrets:
      workflow_github_token: ${{ secrets.GH_TOKEN }}

  common-code-checks:
    name: Common Code Checks
    permissions:
      contents: read
      actions: read # Allow the workflow to read actions metadata
      pull-requests: write # Allow the workflow to create and modify pull request comments
      security-events: write # Allow the workflow to upload analysis results
    uses: JackPlowman/reusable-workflows/.github/workflows/common-code-checks.yml@main
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}

  common-sync-labels:
    name: Common Sync Labels
    permissions:
      contents: read
      pull-requests: write # For writing labels to the repository
    uses: JackPlowman/reusable-workflows/.github/workflows/common-sync-labels.yml@main
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
